<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要访问您的相册以快速识别账单信息</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>需要访问您的相册以保存账单照片</string>
</dict>
</plist>
